{% extends 'main.html' %}

{% load static %}

{% block title %}درباره ما{% endblock title %}

{% block main %}
<div class="container pb-5 pt-3">
    <div class="row g-4 align-items-center">
        <div class="col-6">
            <h2 class="display-4 mb-5">درباره ما</h2>
            <p class="lead text-muted mb-3">
                مدرسه غیر انتفاعی امیران با چندین سال سابقه طبق نظرسنجی های شهر محمدیه قزوین بهترین دبیرستان شهر منتخب شده است
                این مدرسه دارای کادر با تجربه ایست که به رشد این مدرسه بهبود بخشیده اند<br>
                کیفیت بالای تدریس این مدرسه با موفقیت توانسته است نام این مدرسه را در شهر و حتی استان نیز درخشان کند<br>
            </p>
        </div>
        <div class="col-6">
            <img src="{% static 'images/About us page-rafiki.png' %}" alt="درباره ما" class="container-fluid">
        </div>
    </div>
</div>
<div style="background-color: rgb(190, 151, 226);">
    <div class="container pb-5 pt-3">
        <div class="row g-4 align-items-center p-5">
            <div class="col-6">
                <img src="{% static 'images/Get in touch-amico.png' %}" alt="با ما در ارتباط باشید" class="container-fluid">
            </div>
            <div class="col-6">
                <h2 class="display-4 mb-5">با ما در ارتباط باشید</h2>
                <div class="mb-3">
                    <h2 class="d-inline">شماره موبایل: </h2><a href="tel:+980213630" class="text-decoration-none"><h4 class="d-inline">+980213630</h4></a><br>
                </div>
                <div class="mb-3">
                    <h2 class="d-inline">آدرس: </h2><h4 class="d-inline">قزوین - محمدیه - منطقه ۱ - کوچه شقایق هفتم</h4>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container pb-5 pt-3">
        <div class="row g-4 align-items-center">
            <div class="col-6">
                <h2 class="display-4 mb-5">راه های دیگر</h2>
                <a href="https://t.me/amirannews20"><button class="btn btn-primary">کانال تلگرام</button></a>
            </div>
            <div class="col-6">
                <img src="{% static 'images/Mobile Marketing-pana.png' %}" alt="درباره ما" class="container-fluid">
            </div>
        </div>
    </div>
</div>

{% endblock main %}