<div class="container py-5 text-light text-start">
    <div class="row">
        <div class="col-6">
            <h2 class="display-4">لینک های مرتبط</h2>
            <ul class="mt-3">
                <a href="https://github.com/m0h4mad/BmiWebsite" class="text-decoration-none text-info mb-3"><i class="fab fa-github"></i>&nbsp;&nbsp; لینک گیت هاب پروژه</a><br>
                <a href="https://t.me/amirannews20" class="text-decoration-none text-info mb-3"><i class="fab fa-telegram"></i>&nbsp;&nbsp; کانال تلگرام امیران</a>
            </ul>
        </div>
        <div class="col-6">
            <h2 class="display-4">لینک صفحات</h2>
            <ul class="mt-3">
                <a href="{% url 'index' %}" class="text-decoration-none text-info mb-3"><i class="fas fa-home"></i>&nbsp;&nbsp; صفحه اصلی</a><br>
                <a href="{% url 'about' %}" class="text-decoration-none text-info mb-3"><i class="fas fa-address-card"></i>&nbsp;&nbsp; صفحه درباره ما</a>
            </ul>
        </div>
    </div>
</div>